<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/55c7db98-06dd-46be-917c-131a8981d727/resourceGroups/ProjetoCodingGirls/providers/Microsoft.ApiManagement/service/ProjetoCodingGirlsEscolaAPI/apis/ProjetoCodingGirlsEscola</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/55c7db98-06dd-46be-917c-131a8981d727/resourceGroups/ProjetoCodingGirls/providers/Microsoft.Web/sites/ProjetoCodingGirlsEscola20220702121954</ResourceId>
    <ResourceGroup>ProjetoCodingGirls</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://projetocodinggirlsescola20220702121954.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>32c5dbf7-83d9-4f32-a0d7-0dc9a017aa47</ProjectGuid>
    <PublishUrl>https://projetocodinggirlsescola20220702121954.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ProjetoCodingGirlsEscola20220702121954</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>